:root {
    --primary-color: rgb(25, 25, 167);
    /* DARK BLUE*/
    --accent1-color: rgb(120, 80, 10);
    /*0RANGE*/
    --heading-font: Georgia, serif;
    --body-font: Arial, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

header {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: var(--primary-color);
}

header nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    width: 80px;
}

header,
footer {
    width: 840px;
    margin: 0 auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia img {

    width: 30px;
}

header nav a {
    text-decoration: none;

    color: white;
    padding: 8px 12px;
    border-radius: 5px;
}

header nav a:hover {
    background-color: var(--accent1-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: white;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.85);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;

}