* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --height: auto;
    --background-color: darkblue;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;

}

aside {
    position: relative;
    text-align: center;
    width: 50%;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 0;
    left: 300px;

}

aside img {

    width: 200px;
    height: var(--height);
}

/*Its very important*/
main img {

    float: right;
    left: 400px;
    margin-left: 15px;
    width: 150px;
    height: var(--height);
    padding: 2px;
    border: 1px solid;
    box-shadow: 0 0 30px rgb(139, 138, 138);
}

footer {
    margin-top: 10px;
    border-top: 1px solid;
    text-align: center;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: var(--background-color)
}

p {
    padding: 0px;
}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(230, 227, 224);
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}