:root {
    --height: auto: --back-ground-color: darkblue;
}

main {
    max-width: 840px;
}

aside {
    text-align: centre;
    padding: 1rem;
    background-color: rgb(230, 226, 221);
    color: black;
    border: 1px solid black;
    margin: 1rem;
    width: 100%;

}

aside img {

    width: 200px;
    height: var(--height);
}

/*Its very important*/
main img {
    width: 150px;
    height: var(--height);
    padding: 2px;
    border: 1px solid;
    box-shadow: 0 0 30px rgb(139, 138, 138);
}

footer {
    margin-top: 10px;
    border-top: 1px solid;
    text-align: center;
}

nav {
    background-color: var(--back-ground-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--back-ground-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;

}

p {
    padding: 0px;
}